@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: bg-base-100;
  --foreground: bg-base-content;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: bg-base-100;
    --foreground: bg-base-content;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'TH SarabunPSK', 'Mitr', 'Sarabun', Arial, Helvetica, sans-serif;
}

/* globals.css */

/* Apply the Mitr font for Thai text */
html[lang="th"] {
  font-family: 'Mitr', sans-serif;
}

/* Apply default font for other text */
body[lang="th"] {
  font-family: 'Mitr', sans-serif;
}

